<div class="section" style="background-color: rgb(180, 177, 177);height: 50px;"></div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                       
                       <h3 class="text-center"> for more informations send us an email</h3>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <a class="btn btn-danger btn-lg btn-fill" type="submit" href="mailto:nizarghazeli666@gmail.com">Send Message</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

