<body style="background-color: #B8B8B8;">
    <div class="login-reg-panel" style="margin-top: 50px;">
        <div class="login-info-box">
            <h2>Have an account?</h2>
            <p>Lorem ipsum dolor sit amet</p>
            <button id="label-register" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>


    </div>
    <div class="white-panel" id="d" style="margin-top: 190px; ">
        <form class="register-show"  >
            <h2>REGISTER</h2>
            <div class="form-group"  >
                <input type="text" placeholder="Fisrt name" name="firstName" style="height: 30px;"
                    [(ngModel)]="registerUserData.firstName">
                 
            </div>
            <div class="form-group">
                <input type="text" placeholder="Last name" name="lastName" style="height: 30px;" required
                    [(ngModel)]="registerUserData.lastName">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Phone" name="phone" style="height: 30px;" required
                    [(ngModel)]="registerUserData.phone">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Address" name="address" style="height: 30px;" required
                    [(ngModel)]="registerUserData.address">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Email" name="email" style="height: 30px;" required
                    [(ngModel)]="registerUserData.email">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" name="password" style="height: 30px;" required
                    [(ngModel)]="registerUserData.password">
            </div>

            <button type="submit" id="label-register" (click)="registerUser()" 
            style=" border:1px solid #9E9E9E;
            padding:5px 5px;
            width:150px;
            display:block;
            text-align:center;
            border-radius:5px;
            cursor:pointer;
            font-weight: 600;
            font-size: 18px;">Register</button>
        </form> 
       
    </div>

</body>