<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('../assets/img/antoine-barres.png');
     background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">

                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>


            </div>
        </div>
       <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->


    </div>
    <app-cart></app-cart>
</div>